<html>
  <head>
    {% include "head.html" %}
  </head>
  <body>
    <div>Microblog:
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('testowy') }}">Testowy</a>
      <a href="{{ url_for('log') }}">Standard Login</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
        <hr>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <hr>
  </body>
</html>